# Node.js dependencies
node_modules/
.env
.env.local

# Hardhat
artifacts/
cache/
*.dbg.json

# Build and Test outputs
test_out.txt
test_output.txt
dist/

# Explicitly KEEP deployedAddresses.json
!**/backend/config/deployedAddresses.json

# TypeChain files
typechain/
typechain-types/

# solidity-coverage files
coverage/
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337/
